* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddcdba;
    font-family: "Arial", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    height: 85px;
    width: auto;
    background-color: #8fa18a;
    color: white;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: nowrap; 
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%; /* Set width to avoid content shift */
}

.nav-logo {
    height: 60px;
    width: 90px;
}

.logo {
    background-image: url(logo.png);
    background-size: 200% auto;
    background-position: center;
    height: 60px;
    width: 120%;
    margin-left: 80px;
}

.links {
    list-style: none;
    display: flex;
    gap: 30px; 
    white-space: nowrap;
    margin-left: 450px; 
    flex-grow: 1; 
    align-items: center;
    font-family: "Arial", sans-serif;
}

.links ul {
    list-style: none;
    margin-top: 0px;
}

.links a {
    text-decoration: none;
    font-size: 19px;
    color: white;
    padding: 10px 15px;
    transition: 0.3s ease;
}

.links a:hover {
    color: #ddcdba;
}

.nav-buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.btn1, .btn2 {
    font-size: 15px;
    padding: 12px 11px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.buttons {
    gap: -10px;
    text-decoration: none;
}

.btn1 {
    background-color: #49829e;
    color: white;
    justify-content: center;
    width: 155px;
}

.btn1:hover {
    background-color: #244c60;
}

.btn2 {
    background-color: #ddcdba;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
}

.btn3 {
    background: none;
    border: 2px solid #8fa18a;
    color: #8fa18a;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 11px;
    cursor: pointer;
}

.container {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    background-color: #ddcdba;
    margin-left: 135px;
    margin-top: 100px;
}

.text-box {
    width: 50%;
    margin-top: -100px; 
}

.homeimage1 {
    height: 620px;
    width: 500px;
    margin-right: 180px;
}

.main-heading {
    font-size: 70px;
    color: #5a554f; /* Dark brown text */
    font-family: "Arial", sans-serif;
    text-align: left;
    font-weight: bolder;
    color: #ffffff; /* White */
    margin-top: 70px;
}

.highlight {
    color: #8fa18a; /* Greenish tone */
    font-weight: bolder;
}

.quote {
    font-size: 38px;
    font-family: "Arial", sans-serif;
    color: #ffffff; /* White */
    margin-top: 20px;
}

.description {
    font-size: 22px;
    color: #5a554f; /* Dark brown */
    line-height: 1.3;
    margin-top: 15px;
    margin-bottom: 20px;
}

.list-bar {
    height: 80px;
    width: 100%;
    background-color: #8fa18a; /* Background color same as in image */
    display: flex;
    justify-content: space-evenly; /* Distribute text evenly */
}

.list-bar span {
    background-color: #8fa18a; /* Background color same as in image */
    display: flex;
    justify-content: space-evenly; /* Distribute text evenly */
    align-items: center;
    padding: 15px 0; /* Adjust vertical padding */
    font-weight: bold;
    text-transform: uppercase; /* Capitalize text */
    color: white;
    font-size: 14px; /* Adjust text size */
    font-family: Arial, sans-serif;  /* Centers vertically */
}

.suis {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ddcdba;
    display: flex;
    justify-content: center;
}

.sub-heading {
    font-size: 54px;
    font-family: "Arial", sans-serif;
    font-weight: bolder;
    color: #8fa18a;
    margin-top: 70px;
}

.sub-point {
    font-size: 25px;
    font-family: "Arial", sans-serif;
    color: #ffffff; /* White */
    margin-top: 25px;
}

.description2 {
    font-size: 22px;
    color: white;/* Dark brown */
    line-height: 1.4;
    margin-bottom: 5px;
    word-spacing: 3px;
}

.bold-brown {
    font-weight: bold;
}

p1 {
    margin-top: 100px;
    border: 2px solid#8fa18a;
    border-radius: 20px;
    color: #8fa18a;
    padding: 10px 18px;
    display: block;
    font-size: 17px;
    margin-bottom: 20px;
}

p2 {
    font-size: 47px;
    font-family: "Arial", sans-serif;
    font-weight: bolder;
    color: #8fa18a;
    margin-bottom: 10px;
}

p3 {
    font-size: 18px;
    color: #5a554f;
    font-family: "Arial", sans-serif;
    margin-bottom: 20px
}
.project {
    height: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ddcdba;
    margin-bottom: 150px;
    gap: 10px;
    margin-left: 135px;
}
  
.text-box2 {
    max-width: 900px;
    margin-top: 10px;
    overflow-wrap: break-word;
}

.homeimage2 {
    margin-top: -140px;
    margin-right: 230px;
    height: 470px;
    width: 380px;
    border-top-left-radius: 230px;
    border-top-right-radius: 230px;
    box-shadow: 0 0 0 15px #8fa18a;
}

.certification-container {
    background-color: #8fa18a;
    margin-left: -15px;
    margin-top: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
    color: white;
    position: relative;
    max-width: 410px;
    transition: max-height 0.5s ease;
    overflow: visible;
    height: auto;
}

.container-content {
    overflow: hidden;
    max-height: inherit;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.details {
    display: none;
    position: relative;
    font-size: 16px;
    width: 100%;
    z-index: 5;
}

.certification-container.expanded .details {
    display: block;
}

.certification-container.collapsed {
    max-height: 120px;
}

.certification-container.expanded {
    max-height: 1000px;
}

.subtitle-collapsed-content {
    opacity: 1;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.certification-container.expanded .subtitle-collapsed-content {
    opacity: 0;
    max-height: 0;
}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 19px;
    margin-bottom: 15px;
}

.details {
    display: none;
}

.certification-container.expanded .details {
    display: block;
}
.toggle-button {
    position: absolute;
    background-color: #8fa18a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: -27.5px; /* Half the width to position half outside */
    margin-top: -7px;
    color: #ddcdba;
    border: 6px solid #ddcdba;
    font-size: 24px;
    transition: transform 1s ease;
    z-index: 10; /* Make sure the button stays above */
}

.toggle-button:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 27.5px; /* Half width */
    z-index: -1;
}

.down-arrow {
    top: 15px;
}

.up-arrow {
    bottom: -25px;
    display: none;
}
.certification-container.expanded .down-arrow {
    display: none;
}

.certification-container.expanded .up-arrow {
    display: flex;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 15px;
}

li {
    margin-bottom: 15px;
}

p4 {
    margin-left: 50px;
    max-width: 600px;
}

.lessoins {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ddcdba;
    display: flex;
    justify-content: center;
}

p5 {
    margin-top: 10px;
    margin-left: 100px;
    font-size: 35px;
    font-family: "Arial", sans-serif;
    color: white;
    font-weight: bolder;
}

.info-box {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 150px;
    padding-left: 100px;
    justify-content: space-between; /* Adjust spacing */
    align-items: center;
    position: relative;
    gap: 20px; /* Space between boxes */
}


.info {
    width: 385px;
    height: 485px;
    background-color: #ddcdba;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #f3efeb;
    margin-bottom: 20px;
    position: relative;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    z-index: 2;
    font-size: 28px;
    font-weight: bolder;
}

.info img {
    width: 107px;
    height: 87px;
    margin-bottom: 10px;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 30px;
    color: #ddcdba;
    opacity: 0;
    line-height: 35px;
    transition: opacity 0.3s ease-in-out;
}

.arrow {
    position: absolute;
    bottom: -20px; /* Moves the arrow outside the box */
    left: 50%;
    transform: translateX(-50%);
    width: 70px; /* Adjust to match the design */
    height: 70px;
    background-color: #96a78f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s;
    cursor: pointer;
    border: 4px solid #e6d7c3; 
}

.arrow::after {
    content: "→"; 
    font-size: 25px;
    font-weight: bold;
}

.info:hover {
    background-color: #96a78f;
    color: white;
    border: none;
    transform: scale(1.05);
}

.info:hover .info-content {
    opacity: 0; /* Hides original content */
}

.info:hover .hover-text {
    opacity: 1;
    z-index: 3;
}

.info:hover .arrow {
    opacity: 1;
}
.popup {
    display: none; /* Initially hidden */
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 510px;
     
    background-color: #96a78f;
    padding: 30px; /* More spacing */
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 39px;
    cursor: pointer;
    color: white;
}
.popup-content {
    flex: 1;
    color: white;
    text-align: left;
    font-size:larger;
}
.divider {
    width: 200;
    height: 2px;
    background: #ddcdba;
    border: none;
    margin: 10px 0;
}

.popup-text {
    font-size: 25px;
}

/* Popup Image */
.popup-image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.arrow-left {
    left: 100px;
    position: fixed;
    top:45%;
    font-size: 30px;
    cursor: pointer;
    background-color:#96a78f;
    border-radius: 70%;
    padding: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.arrow-right {
        right: 100px;
        position: fixed;
        top: 45%;
        font-size: 30px;
        cursor: pointer;
        background-color:#96a78f;
        border-radius: 70%;
        padding: 15px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

/* Dark Background when Popup is Open */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup[style*="display: block"] ~ .info .hover-content {
    display: none !important;
}

.disable-hover .hover-content {
    display: none !important;
}

.info2 {
    width: 600px;
    height: 485px;
    background-color: #ddcdba;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    border-radius: 20px;
    border: 1px solid #f3efeb;
    margin-bottom: 20px;
}

.contact {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ddcdba;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.from-wrapper {
    padding-left: 100px;
    display: flex;
    padding-top: 100px;
    height: 640px;
    margin-bottom: 140px;
}

.form-desc {
    font-size: 68px;
    font-family: "Arial", sans-serif;
    color: #ffffff; /* White */
    max-width: 750px;
    word-spacing: 1px;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    font-weight: 100px;
    margin-left: 80px;
}

.form-desc p{
    font-size: 19px;
    margin-bottom: 0px;
    margin-top: -2px;
    margin-left: 60px;
}

.bold-white {
    font-weight: bold;
}

p1i {
    font-size: 40px;
    margin-top: 45px;
    margin-left: 30px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

p2i {
    font-size: 35px;
    color: #8fa18a;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

.pack-list {
    margin-left: 30px;
    margin-top: 15px;
}

.pack-list li {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 15px;
}

p3i {
    margin-top: 35px;
    margin-left: 40px;
    font-size: 30px;
}

.pack-cost {
    font-size: 35px;
    font-weight: bold;
    color: #8fa18a;
}

.info2-head {
    font-size: 40px;
    margin-top: 45px;
    margin-left: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

p6 {
    padding-top: 100px;
    margin-top: 50px;
}
span a {
    color: inherit;
    text-decoration: none;
  }
  
  span a:hover {
    color: inherit;
    text-decoration: none;
  }
  
.form-container {
    width: 750px;
    height: 530px;
    padding: 40px 20px;
    border: 2px solid#f3efeb ; /* Border color */
    border-radius: 8px;
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ddcdba;
    position: absolute;
    right: 160px;
    margin-bottom: 50px;
    margin-left: 100px;
}

/* Input fields styling */
.form-container input, .form-container textarea {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #f3efeb;
    border-radius: 5px;
    background-color: #ddcdba;
}

/* Submit button styling */
.form-container button {
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 10px;
    background-color: #8fa18a;
    color: #ddcdba;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
}

.required-star {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.email-logo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: -70px;
    margin-bottom: -52px;
    margin-top: -30px;
    display: list-item;
}

.contact-logo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    vertical-align: middle;
    margin-bottom: -51px;
    margin-left: -8px;
    display: list-item;
}

.footer {
    background-color: #8fa18a;
    height: 270px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    color: #ddcdba;
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

.footer-heading {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 19px;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-top: 50px;
    gap: 35px;
}

.footer-logo {
    background-image: url(logo.png);
    background-size: 100% auto;
    background-position: center;
    height: 80px;
    width: 120%;
    margin-left: -80px;
}

.insta-links {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
}

.insta-logo {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 100%;
}

.link-gap {
    margin-left: 20px;
}
.footer-2 {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 50px;
    gap: 15px;
}

.footer-3 {
    display: flex;
    flex-direction: column;
    margin-left: 180px;
    margin-top: 50px;
    gap: 15px;
}

.footer-line {
    height: 1px;
    background-color: rgb(61, 37, 10);
    margin-left: 100px;
    margin-right: 100px;
}

.copyright-section {
    height: 75px;
    background-color: #8fa18a;
}

.copyright {
    color: rgb(33, 33, 33);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 27px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyright-text {
    text-align: left;
    color: #ddcdba;
}
.copyright-right-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-right: 2px;
  }

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 20px;
    top: 25px;
}

.rdv-icon {
    position: fixed;
    bottom: 150px;
    right: 60px;
    width: 90px;
    height: 90px;
    z-index: 1000;
    transition: filter 0.3s ease;
  }
  
  /* Hover effect */
.rdv-icon:hover {
    filter: invert(100%) hue-rotate(90deg) saturate(20%) contrast(20%);
  }
  
  