* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddcdba;
    font-family: "Arial", sans-serif;
}

.navbar {
    height: 85px;
    background-color: #8fa18a;
    color: white;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: nowrap; 
}

.nav-logo {
    height: 60px;
    width: 90px;
}

.logo {
    background-image: url(logo.png);
    background-size: 200% auto;
    background-position: center;
    height: 60px;
    width: 100%;
    margin-left: 80px;
}

.links {
    list-style: none;
    display: flex;
    gap: 10px; 
    white-space: nowrap;
    margin-left: 300px; 
    flex-grow: 1; 
    align-items: center;
    font-family: "Arial", sans-serif;
}

.links ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    transition: 0.3s ease;
}

.links a:hover {
    color: #ddcdba;
}

.nav-buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.btn1, .btn2 {
    font-size: 14px;
    padding: 12px 11px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn1 {
    background-color: #49829e;
    color: white;
    justify-content: center;
    width: 155px;
}

.btn2 {
    background-color: #ddcdba;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
}

.btn3 {
    background: none;
    border: 2px solid #8fa18a;
    color: #8fa18a;
    border-radius: 8px;
    font-size: 14px;
    padding: 12px 11px;
    cursor: pointer;
}

.container {
    height: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    background-color: #ddcdba;
    margin-left: 100px;
}

.text-box {
    width: 48%;
    margin-top: -100px; 
}

.homeimage1 {
    height: 620px;
    width: 500px;
    margin-right: 140px;
}

.main-heading {
    font-size: 60px;
    color: #5a554f; /* Dark brown text */
    font-family: "Arial", sans-serif;
    text-align: center;
    font-weight: bold;
    color: #ffffff; /* White */
    margin-top: 70px;
}

.highlight {
    color: #8fa18a; /* Greenish tone */
    font-weight: bold;
}

.quote {
    font-size: 30px;
    font-family: "Arial", sans-serif;
    color: #ffffff; /* White */
    margin-top: 20px;
}

.description {
    font-size: 19px;
    color: #5a554f; /* Dark brown */
    line-height: 1.3;
    margin-top: 15px;
    margin-bottom: 20px;
}

.list-bar {
    height: 80px;
    width: 100%;
    background-color: #8fa18a; /* Background color same as in image */
    display: flex;
    justify-content: space-evenly; /* Distribute text evenly */
}

.list-bar span {
    background-color: #8fa18a; /* Background color same as in image */
    display: flex;
    justify-content: space-evenly; /* Distribute text evenly */
    align-items: center;
    padding: 15px 0; /* Adjust vertical padding */
    font-weight: bold;
    text-transform: uppercase; /* Capitalize text */
    color: white;
    font-size: 11px; /* Adjust text size */
    font-family: Arial, sans-serif;  /* Centers vertically */
}

.suis {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ddcdba;
    display: flex;
    justify-content: center;
}

.sub-heading {
    font-size: 50px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #8fa18a;
    margin-top: 70px;
}

.sub-point {
    font-size: 25px;
    font-family: "Arial", sans-serif;
    color: #ffffff; /* White */
    margin-top: 25px;
}

.description2 {
    font-size: 19px;
    color: white;/* Dark brown */
    line-height: 1.4;
    margin-bottom: 5px;
    word-spacing: 3px;
}

.bold-brown {
    font-weight: bold;
}

p1 {
    margin-top: 100px;
    border: 2px solid#8fa18a;
    border-radius: 20px;
    color: #8fa18a;
    padding: 10px 18px;
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
}

p2 {
    font-size: 45px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #8fa18a;
    margin-bottom: 10px;
}

p3 {
    font-size: 16px;
    color: #5a554f;
    font-family: "Arial", sans-serif;
    margin-bottom: 20px
}
.project {
    height: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 100px;
    background-color: #ddcdba;
    margin-bottom: 150px;
}

.text-box2 {
    max-width: 700px;
    margin-top: 10px;
    overflow-wrap: break-word;
}

.homeimage2 {
    margin-top: -250px;
    margin-right: 150px;
    height: 470px;
    width: 350px;
    border-top-left-radius: 170px;
    border-top-right-radius: 170px;
    box-shadow: 0 0 0 15px #8fa18a;
}

p4 {
    margin-left: 50px;
    max-width: 600px;
}

.lessoins {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ddcdba;
    display: flex;
    justify-content: center;
}

p5 {
    margin-top: 10px;
    margin-left: 100px;
    font-size: 35px;
    font-family: "Arial", sans-serif;
    color: white;
    font-weight: bolder;
}

.info-box {
    display: flex;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between; /* Adjust spacing */
    align-items: center;
    gap: 15px; /* Space between boxes */
}

.info {
    width: 275px;
    height: 375px;
    background-color: #ddcdba;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #f3efeb;
    margin-bottom: 20px;
}

.info2 {
    width: 430px;
    height: 375px;
    background-color: #ddcdba;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid #f3efeb;
    margin-bottom: 20px;
}

.contact {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ddcdba;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.from-wrapper {
    padding-left: 100px;
    display: flex;
    padding-top: 100px;
    height: 630px;
    margin-bottom: 100px;
}

.form-desc {
    font-size: 50px;
    font-family: "Arial", sans-serif;
    color: #ffffff; /* White */
    max-width: 500px;
    word-spacing: 2px;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    font-weight: 100px;
}

.form-desc p{
    font-size: 19px;
    margin-bottom: 0px;
    margin-top: -3px;
    margin-left: 60px;
}

.bold-white {
    font-weight: bold;
}

p1i {
    font-size: 35px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

p2i {
    font-size: 24px;
    color: #8fa18a;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    margin-left: 20px;
}

.pack-list {
    margin-left: 20px;
    margin-top: 15px;
}

.pack-list li {
    font-size: 17px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 15px;
}

p3i {
    margin-top: 35px;
    margin-left: 40px;
    font-size: 30px;
}

.pack-cost {
    font-size: 35px;
    font-weight: bold;
    color: #8fa18a;
}

.info2-head {
    font-size: 28px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

p6 {
    padding-top: 100px;
    margin-top: 50px;
}

.form-container {
    width: 700px;
    height: 530px;
    padding: 40px 20px;
    border: 2px solid#f3efeb ; /* Border color */
    border-radius: 8px;
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ddcdba;
    position: absolute;
    right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
}

/* Input fields styling */
.form-container input, .form-container textarea {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #f3efeb;
    border-radius: 5px;
    background-color: #ddcdba;
}

/* Submit button styling */
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #8fa18a;
    color: #ddcdba;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
}

.required-star {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.email-logo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    vertical-align: middle;
    margin-left: -70px;
    margin-bottom: -52px;
    margin-top: -30px;
    display: list-item;
}

.contact-logo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    vertical-align: middle;
    margin-bottom: -51px;
    margin-left: -8px;
    display: list-item;
}

.footer {
    background-color: #8fa18a;
    height: 270px;
    display: flex;
    flex-direction: row;
    gap: 200px;
    color: #ddcdba;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}

.footer-heading {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 17px;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
    gap: 35px;
}

.footer-logo {
    background-image: url(logo.png);
    background-size: 100% auto;
    background-position: center;
    height: 80px;
    width: 120%;
    margin-left: -80px;
}

.insta-links {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
}

.insta-logo {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 100%;
}

.link-gap {
    margin-left: 20px;
}
.footer-2 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
    gap: 15px;
}

.footer-3 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 50px;
    gap: 15px;
}

.footer-line {
    height: 1px;
    background-color: rgb(61, 37, 10);
    margin-left: 100px;
    margin-right: 100px;
}

.copyright-section {
    height: 75px;
    background-color: #8fa18a;
}

.copyright {
    color: rgb(33, 33, 33);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 27px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.copyright-text {
    margin-right:520px;
    color: #ddcdba;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 20px;
    top: 25px;
}
