.main-heading {
    font-size: 60px;
    color: #5a554f; /* Dark brown text */
    font-family: "Arial", sans-serif;
    text-align: center;
    font-weight: bold;
    color: #ffffff; /* White */
    margin-top: 70px;
}

/* Highlighted words */
.highlight {
    color: #8fa18a; /* Greenish tone */
    font-weight: bold;
}

/* Quote Styling */
.quote {
    font-size: 30px;
    font-family: "Arial", sans-serif;
    color: #ffffff; /* White */
    margin-top: 20px;
}

/* Description paragraph */
.description {
    font-size: 19px;
    color: #5a554f; /* Dark brown */
    line-height: 1.3;
    margin-top: 15px;
    margin-bottom: 20px;
}

.list-bar span {
    background-color: #8fa18a; /* Background color same as in image */
    display: flex;
    justify-content: space-evenly; /* Distribute text evenly */
    align-items: center;
    padding: 15px 0; /* Adjust vertical padding */
    font-weight: bold;
    text-transform: uppercase; /* Capitalize text */
    color: white;
    font-size: 11px; /* Adjust text size */
    font-family: Arial, sans-serif;  /* Centers vertically */
}

.sub-heading {
    font-size: 45px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: #8fa18a;
    margin-top: 70px;
}

.sub-point {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    color: #ffffff; /* White */
    margin-top: 25px;
}

.description2 {
    font-size: 17px;
    color: white;/* Dark brown */
    line-height: 1.4;
    margin-bottom: 5px;
    word-spacing: 3px;
}

.bold-brown {
    font-weight: bold;
}

.form-desc p{
    font-size: 17px;
    margin-bottom: 5px;
    margin-left: 60px;
}

.bold-white {
    font-weight: bold;
}
